/*
Start chart styling 
********************************************
*/

circle.dimple-series-1 {
r: 8px;
} 

.dimple-custom-axis-title {
font-size: 18px !important;
}

.dimple-custom-legend-label {
font-size: 15px !important;

}

.dimple-custom-legend-key {

height: 18px;
width: 17px; 
}

.dimple-custom-legend {
padding: 50px;
margin: auto;
}

#chart_title {

font-family: times, Times New Roman, times-roman, georgia, serif;
font-size: 16px;
line-height: 30px;
letter-spacing: -1px;
color: #555;
margin: .5;
padding: .25em;
font-weight: 100;
text-align: center;
}

/*
End chart styling 
********************************************
*/


/*
Start Page styling 
********************************************
*/



form {
margin: 1.5em;
}


.info {
font-size: 1em;
line-height: 1.25em;
margin: 0.625em;
text-align: left;
font-family: 'Inder', sans-serif; 
margin-bottom: 1.5em; 
margin-top: .25em;
color: #666;
}


h3 {
margin: 1.0em; 
}

/*a { color: #c8c8c8; text-decoration: underline; }


a:hover { color: #1c1c1c; text-decoration: underline; }

*/

div#main_figure {
    border-radius: 25px;
    border: 2px solid #455;
	margin: .5em;
	background-color: #FCFDFD;
}

p#figure_text.info {
color: #555;
font-weight: bold;
}



body {
background-color: #FEFEFE;
}

/*
End Page styling 
********************************************
*/

    