
circle.dimple-series-1 {
r: 8px;
} 

.dimple-custom-axis-title {
font-size: 18px !important;
}

.dimple-custom-legend-label {
font-size: 15px !important;

}

.dimple-custom-legend-key {

height: 18px;
width: 17px; 
}

.dimple-custom-legend {
padding: 50px;
marging: auto;
}

#chart_title {

font-family: times, Times New Roman, times-roman, georgia, serif;
font-size: 20px;
line-height: 16px;
letter-spacing: -1px;
color: #444;
margin: 0 0 0 0;
padding: 0 0 0 0;
font-weight: 100;
}

body {
background-color: #FEFEFE;
}

    